.mahin {
  font-family: 'mahin';
}

/* .glass {
  background: #D6F2FC;
  box-shadow: 0 8px 32px 0 rgba(133, 135, 177, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */

.hind {
  font-family: "Hind Siliguri", serif;
}

.box_shadow {
  box-shadow: 0px 4px 70px 30px rgba(43, 43, 43, 0.05);
}

.map {
  width: 100%;
  height: 70vh;
}

.leaderPic {
  position: relative;
  border-radius: 50px;
}

.leaderPic::after,
.leaderPic::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #faa381, #ff0095);
  /* background-image: conic-gradient(from var(--angle), transparent 50%, tomato); */
  top: 50%;
  left: 50%;
  z-index: 100;
  translate: -50% -50%;
  z-index: -1;
  padding: 8px;
  border-radius: 5px;
  box-sizing: content-box;
  animation: 3s spin linear infinite;
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.leaderPic::before {
  filter: blur(2rem);
  opacity: .8;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg
  }
}

input {
  outline: none;
}

.wrapper {
  /* width: 450px; */
  background: #fff;
  padding: 30px;
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.input-data {
  margin-bottom: 30px;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #8495eb;
}

.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #8495eb;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before {
  transform: scaleX(1);
}