@import 'tailwindcss';
@plugin "daisyui";

@layer base {
  * {
    border-color: #e5e7eb;
    /* Tailwind v3 default border color */
  }
}

@font-face {
  font-family: 'mahin';
  src: url("https://res.cloudinary.com/dypz844df/raw/upload/v1741687949/mahin_fv1wat_pfrbqc.woff2") format('woff2');
  font-display: swap;
}